#compropagoWrapper li{
	display:inline-block; padding:5px;
}

#compropagoWrapper input {
	position:absolute;
	display:none;
} 

#compropagoWrapper input[type="radio"]:checked + label img{ 
    box-shadow: 0px 0px 0px 4px rgba(0,170,239,1), 0px 0px 10px 0px rgba(0,0,0,1);
    cursor: pointer;
    opacity: 1;
}

#compropagoWrapper input[type="radio"] + label img{ 
    cursor: pointer;
    opacity: .6;
}

#compropagoWrapper img{
	width:80px;
}

#compropagoWrapper input[type="radio"] + label img{ 
    border-radius: 4px;
    cursor: pointer;
}


#compropagoWrapper input[type="radio"]:indeterminate + label img{ 
    opacity: 1;
}
